<div class="unassigned">
  {{#each unassigned as |todo|}}
    <div class="cards">
      <span class="todo_project">{{todo.project}}</span>
    </div>
  {{/each}}
</div>

<div class="assigned">
  {{#each assigned as |todo|}}
    <div class="cards">
      <span class="todo_project">{{todo.project}}</span>
      <span class="todo_status">{{todo.status}}x</span>
    </div>
  {{/each}}
</div>
